---
import Section from "../Section.astro"
import { work } from "@cv"
---

<Section title="📈Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, image, startDate, endDate, position, summary, highlights, url }) => {
          const startDateObj = new Date(startDate)
          const endDateObj = endDate != null ? new Date(endDate) : null

          // Formatear la fecha de inicio para mostrar mes y año
          const startMonthYear = startDateObj.toLocaleDateString('es-ES', { year: 'numeric', month: 'short' })
          const endYear = endDateObj ? endDateObj.getFullYear() : "Actual"

          return (
            <li>
              <article>
                <header>
                  <div class="info">
                    <img src={image} alt={name} width="45" />
                    <div class="details">
                      <h3>
                        <a href={url} title={`Ver ${name}`} target="_blank">
                          {name}
                        </a>
                      </h3>
                      <h4>{position}</h4>
                    </div>
                  </div>
                  <div class="dates">
                    <time 
                      datetime={startDate}
                      data-title={startDate}>
                        {startMonthYear}
                    </time>
                    {" - "}
                    <time 
                      datetime={endDate}
                      data-title={endDate}>
                        {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-right: 16px;
  }

  p {
    font-size: 16px;
    color: #333333;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .dates {
    color: #555;
    font-size: 0.85rem;
    text-align: right;
    min-width: 102px;
  }

  time {
    cursor: default;
  }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: .75rem;
    font-family: Menlo, Monaco, Lucida Console, "Courier New", monospace;
    position: absolute;
    padding: .2rem .5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  [data-title] {
    position: relative;
  }

  @media (max-width: 700px) {
    .dates {
      text-align: right;
    }
    header{
      flex-direction: column;
      gap: 8px;
    }
  }
</style>
